.App {
  text-align: center;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  height: 100%;
  min-height: 100vh;
}

/* shrinks width of input forms and centers */
.ui.form {
  width: 75%;
  margin: auto;
}

.ui.form.login {
  width: 33%;
  margin: auto;
}

.main-container {
  margin: 2%;
}

/* makes nav bar background white */
.ui.huge.pointing.secondary.stackable.menu {
  background-color: white;
}

/* increases font size on homepage */
.large-text {
  font-size: 65px
}